@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "League Spartan", sans-serif;
  background-color: #e4e5f1;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3737;
  border-radius: 10px;
  border: 3px solid #797878;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.graphlegend {
  @apply relative z-10 items-start p-2 -mt-16 rounded shadow-xl bg-white/60 dark:bg-black/60 dark:text-white top-16;
}
